src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b6763322-3588-482c-84b6-4975e5f6fcd2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e7c8d7a3-67c3-4b33-9081-870a2bbe2bf0" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="helloFlow" doc:id="aab76123-4735-4fe5-bc83-5f0bf6e72a06" >
		<http:listener doc:name="GET /hello" doc:id="66ce3d45-5a24-45b0-a4c3-a6f277dc3718" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : "max"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-payload value="#['Hello']" doc:name="Set Payload" doc:id="be0f320c-33b3-4038-9a66-f8a6605614ac" />
		<logger level="INFO" doc:name="Logger" doc:id="59b5d8b6-fbee-4638-ba15-4ba7ee154435" message="#[server.ip]"/>
	</flow>
</mule>
